.container {
    width: 12.1rem;
    height: max;
    padding: 0.4rem;
    background: #fff;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.08);
    .header {
        display: flex;
        padding: .2rem;
        margin: .2rem;
        justify-content: center;
        
        h1 {
            font-size: 1.6rem;
        }

    }
    .aba {
        width: auto;
        height: auto;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-radius: 2px;
        padding: .5rem;
    }
    .sup {
        display: flex;
        justify-content: space-between;
        
        button {
            border: none;
            padding: 1px;
            background: none;
            cursor: pointer;
        }
    }
    h1 {
        font-size: 1rem;

    }
    p {
        font-size: .8rem;
    }

}